@page
@using WebAPI.Business.DTO;
@model WebClient.Pages.Player.EditProfileModel
@{
    Layout = "PlayerShared/_Layout";
}
<h1>Thông Tin Tài Khoản</h1>
<form id="profile-form" method="post">
    <input hidden name="account" value="@Model.User?.Account" />
    <label>Id</label>
    <input readonly class="form-control" type="text" value="@Model.User?.UserId" />
    <label>Tên</label>
    <input name="fullname" class="form-control" type="text" value="@Model.User?.FullName" />
    <label>Email</label>
    <input name="email" class="form-control" type="text" value="@Model.User?.Email" />
    <label>City</label>
    <select name="province" class="form-select">
        @foreach (Province p in Model.Provinces)
        {
            @if (p.Code == Model.User?.City)
            {
                <option selected value="@p.Code">@p.Name</option>

            }
            else
            {
                <option value="@p.Code">@p.Name</option>
            }
        }
    </select>
    <label>Mật Khẩu Cũ</label>
    <input name="oldpassword" class="form-control" type="password" value="" />
    <label>Mật Khẩu</label>
    <input name="password" class="form-control" type="password" value="" />
    <label>Nhập Lại Mật Khẩu</label>
    <input name="cfpassword" class="form-control" type="password" value="" />
    <div class="py-3">
        <button class="fab-btn btn-hover">Lưu</button>
    </div>
</form>
